<div class="text-left">
  <h2>My Profile</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= devise_error_messages! %>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: {autocomplete: "new-password"} %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: {autocomplete: "new-password"} %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: {autocomplete: "current-password"} %>
    </div>

    <div class="form-actions mb-2">
      <div class="form-row">
        <%= f.button :submit, "Update", class: 'btn btn-primary mr-2' %>
        <p> <%= button_to "Remove my account", user_registration_path, class: 'btn btn-danger', data: {confirm: "We are sorry that you are leaving us ! Are you sure ? "}, method: :delete %></p>
      </div>
    </div>
  <% end %>
  <strong>Uploaded Plays:</strong><br>
  <div class="card-deck">
    <%= render partial: 'layouts/play', collection: @user.plays.with_attached_clip.includes([:clip_attachment, :votes]) %><%# solve the n+1 query problem %>
  </div>

</div>
