<% title "#{t('global.member_profile')} - #{current_user.username}" %>

<div class="text-left">
  <h2><%= t('global.my_profile') %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= devise_error_messages! %>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p><%= t('confirmation.waiting') %> <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: t('edit_profile.blank'),
                  required: false,
                  input_html: {autocomplete: "new-password"} %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: {autocomplete: "new-password"} %>
      <%= f.input :current_password,
                  hint: t('edit_profile.current_password'),
                  required: true,
                  input_html: {autocomplete: "current-password"} %>
    </div>

    <div class="form-actions mb-2">
      <div class="form-row">
        <%= f.button :submit, t('global.update'), class: 'btn btn-primary mr-2' %>
        <p> <%= button_to t('edit_profile.remove'), user_registration_path, class: 'btn btn-danger', data: {confirm: t('edit_profile.confirm')}, method: :delete %></p>
      </div>
    </div>
  <% end %>
  <hr>
  <strong class="mb-2"><%= t('play.uploaded_plays') %></strong>
  <div class="card-deck">
    <%= render partial: 'layouts/play', collection: @user.plays.with_attached_clip.includes([:clip_attachment, :votes]) %><%# solve the n+1 query problem %>
  </div>

</div>
