<% title t('global.member_registration') %>
<h2><%= t('global.member_registration') %></h2>

<%= simple_form_for(:user, as: :user, url: user_registration_path) do |f| %>
  <div class="form-inputs">
    <%= f.error_notification %>
    <div class="alert m-2">
      <%= render 'devise/shared/error_messages' %>
    </div>
    <%= f.input :username, required: true,
                autofocus: true %>
    <%= f.input :email,
                required: true,
                input_html: {autocomplete: "email"} %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} #{t('member_registration.char_min')}" if @minimum_password_length),
                input_html: {autocomplete: "new-password"} %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: {autocomplete: "new-password"} %>
  </div>
  <%= f.check_box :terms, remote: true, id: 'accept_terms' %>
  <%= f.label t('member_registration.terms') %>

  <div class="form-actions">
    <%= f.button :submit, t('member_registration.confirm'), class: 'btn btn-success pull-right', :id => 'confirm_registration', :disabled => true %>

<% end %>

</div>
