<% title t('global.member_registration') %>

<%= simple_form_for(:user, as: :user, url: user_registration_path) do |f| %>
  <div class="col-md-8 offset-3">
    <h2 class="mb-3"><%= t('global.member_registration') %></h2>

    <% if @user.errors.any? %>
      <ul id="form_errors" class="list-group" style="list-style-type: none;">
        <li class="list-group-item active align-content-center mt-1"><i><%= t 'contact.errors_intro' %>
        </i></li>

        <% @user.errors.full_messages.each do |error| %>
          <br>
          <li class="list-group-item-danger"><%= error %></li>
        <% end %>
      </ul>
      <br>
    <% end %>

    <div class="form-inputs">
      <%= f.error_notification %>
      <%= f.input :username, required: true,
                  autofocus: true %>
      <%= f.input :email,
                  required: true,
                  input_html: {autocomplete: "email"} %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} #{t('member_registration.char_min')}" if @minimum_password_length),
                  input_html: {autocomplete: "new-password"} %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: {autocomplete: "new-password"} %>
    </div>
    <%= f.check_box :terms, remote: true, id: 'accept_terms' %>
    <%= f.label t('member_registration.terms') %>

    <div class="form-actions">
      <%= f.button :submit, t('member_registration.confirm'), class: 'btn btn-success pull-right', :id => 'confirm_registration', :disabled => true %>
<% end %>

</div>
</div>
