<%= simple_form_for :contact, url: contact_index_path do |f| %>
  <div class="col-md-6 offset-4">
    <%= f.label :username %></br>
    <%= f.text_field :username, required: true, :value => current_user ? current_user.username : '', class: "form-control", readonly: current_user %></br>
    <br>
      <%= f.label :email %></br>
    <%= f.text_field :email, required: true, :value => current_user ? current_user.email : '', class: "form-control", readonly: current_user %></br>
    <br>
      <%= f.label :message %>
      <%= f.text_area :message, rows: 7, cols: 50, required: true, class: "form-control",
                      placeholder: "Let us know your thoughts..." %></br>

    <div class="hidden">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div class="offset-10 mt-2">
      <%= f.submit 'Send', class: 'btn btn-primary ' %>
    </div>
  </div>
<% end %>
