<%= simple_form_for :contact, url: contact_index_path do |f| %>
  <div class="col-md-6 offset-4">
    <% if contact.errors.any? %>
      <ul id="form_errors" class="list-group" style="list-style-type: none;">
        <li class="list-group-item active align-content-center mt-1"><i><%= t 'contact.errors_intro' %>
        </i></li>
        <% @contact.errors.full_messages.each do |error| %>
          <li class="list-group-item-danger"><%= error %></li>
        <% end %>
      </ul>
      <br>
    <% end %>

    <%= f.label :username %></br>
    <%= f.text_field :username, required: true, :value => current_user ? current_user.username : '', class: "form-control", readonly: current_user %></br>
    <%= f.label :email %></br>
    <%= f.text_field :email, required: true, :value => current_user ? current_user.email : '', class: "form-control", readonly: current_user %></br>
    <%= f.label :message, t('contact.message') %>
    <%= f.text_area :message, rows: 7, cols: 50, required: true, class: "form-control",
                    placeholder: t('contact.msg_placeholder') %></br>

    <div class="form-row ">
      <div class="col-sm-4">
        <%= recaptcha_tags %>
      </div>
      <div class="col-sm-2 offset-4">
        <%= f.submit t('contact.send'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
